@using Microsoft.AspNetCore.Routing
@using Webdiyer.AspNetCore
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor  _httpContextAccessor
@model PagedList<ConfigCenter.Dto.AppSettingDto>
<script type="text/javascript">
    var platform = '';
    var noLogin = 0;
    $(function () {
        $("table a[class='btn btn-info']").click(function () {
            edit($(this).attr('data-id'));
        });

        $("table a[class='btn btn-danger']").click(function () {
            del($(this).attr('data-id'));
        });

        $('#newplatform').click(function () {
            $('div.modal-body').html('');
            $('#add_tmpl').tmpl().appendTo('div.modal-body');
            $('#myModalLabel').text('添加');
        });
        $('input[id=lefile]').change(function () {
            $('#photoCover').val($(this).val());
        });
    });

    function edit(id) {
        $.getJSON('/AppSetting/GetAppSettingById', { "id": id, random: Math.random() }, function (data) {
            if (data.success) {
                $('div.modal-body').html('');
                $('#edit_tmpl').tmpl(data.data).appendTo('div.modal-body');
                $('#myModalLabel').text('修改');
            } else {
                if (data.errorType == noLogin)
                    window.location.href = "/Login";
                else
                    alert("获取失败");
            }
        });
    }

    function del(id) {
        if (confirm("确定删除吗?")) {
            $.getJSON('/AppSetting/DeleteAppSettingById', { "id": id, random: Math.random() }, function (data) {
                if (data.success) {
                    window.location.reload();
                } else {
                    if (data.errorType == noLogin)
                        window.location.href = "/Login";
                    else
                        alert("删除失败");
                }
            });
        }
    }
    function save() {
        var data = $('#edit_form').serialize() || $('#form_add').serialize();
        $.post('/AppSetting/SaveAppSetting', data, function (res) {
            if (res.success) {
                window.location.reload();
            } else {
                if (data.errorType == noLogin)
                    window.location.href = "/Login";
                else
                    alert(res.message);
            }
        });
    };
    function DeleteAlllAppSetting() {
        if (confirm("确定删除全部配置吗?")) {
            $.post('/AppSetting/DeleteAlllAppSetting?appid=' +@ViewBag.appid, null, function (res) {
                if (res.success) {
                    window.location.reload();
                } else {
                    alert(res.message);
                }
            });
        }
    }
    function UploadFile() {
        var fileObj = document.getElementById("lefile").files[0]; // js 获取文件对象
        var url = "/AppSetting/Import?appid="+@ViewBag.appid; // 接收上传文件的后台地址

        var form = new FormData(); // FormData 对象
        form.append("appSettingFile", fileObj); // 文件对象

        xhr = new XMLHttpRequest();  // XMLHttpRequest 对象
        xhr.open("post", url, true); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。
        xhr.onload = uploadComplete; //请求完成
        xhr.onerror = uploadFailed; //请求失败
        xhr.send(form); //开始上传，发送form数据
    }
    function uploadComplete(evt) {
        //服务断接收完文件返回的结果

        var data = JSON.parse(evt.target.responseText);
        if (data.success) {
            alert("上传成功！");
            clearFile();
            $("#photoCover").val("");
            window.location.reload();
        } else {
            alert("上传失败,格式不正确！xx");
        }

    }
    function clearFile() {

        var file = $("#lefile");

        file.after('<input id="lefile" type="file" style="display: none;" />');

        file.remove();
    }
    //上传失败
    function uploadFailed(evt) {
        alert("上传失败,格式不正确！");
    }
    //取消上传
    function cancleUploadFile() {
        xhr.abort();
    }
    function Export() {
        window.location.href ="/AppSetting/Export?appid="+@ViewBag.appid;
    }
    function UploadTemple() {
        window.location.href = "/AppSetting/Upload";
    }
</script>
<style>
    .modal-dialog {
        padding-top: 0 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/Login">配置中心</a></li>
    <li class="active">配置列表( <a id="newplatform" data-toggle="modal" data-target="#myModal">添加新配置</a>)</li>
    <li>当前应用:@ViewData["ProjectName"]</li>
    <li>当前环境:@ViewData["Evn"]</li>
</ol>
@using (Html.BeginForm("Index", ViewContext.RouteData.Values["Controller"].ToString(), new RouteValueDictionary { { "pageindex", "" } }, FormMethod.Get, true, ""))
{
    <div class="form-inline well well-sm">
        <span>ConfigKey:  </span><input type="text" name="kword" value="@_httpContextAccessor.HttpContext.Request.Query["kword"]" style="width: 120px" class="form-control" />
        <input type="hidden" name="appId" value="@_httpContextAccessor.HttpContext.Request.Query["appId"]" />
        <input type="submit" value="搜索(S)" accesskey="S" class="btn btn-default" />
        <input type="button" value="导出配置" onclick="Export()" accesskey="S" class="btn btn-primary" />
        <input id="lefile" type="file" style="display: none;" />
        <input type="text" id="photoCover" placeholder="FileUpload" style="width: 120px" class="form-control" />
        <input type="button" value="上传" onclick="$('input[id=lefile]').click();" class="btn btn-primary" />
        <input type="button" value="提交" class="btn btn-primary" onclick="UploadFile();" />
        <input type="button" onclick="UploadTemple()" value="下载模板" accesskey="S" class="btn btn-primary" />
    </div>
}
@Html.Partial("_AppTable", Model)
@*@Html.Pager("", new PageOption() { DataCount = Model.DataCount, PageIndex = Model.PageIndex, PageSize = Model.PageSize })*@
@Html.Pager(Model, new PagerOptions { HorizontalAlign = "right", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}&nbsp;</li>", Id = "bootstrappager" })

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="add_tmpl">
    <form id="form_add" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">配置名称</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="ConfigKey" value="" placeholder="配置名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">配置值</label>
            <div class="col-xs-8">
                <textarea class="form-control" rows="16" placeholder="配置值" name="ConfigValue"></textarea>
                @*<input type="text" class="form-control" name="ConfigValue" value="" placeholder="配置值">*@
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label">配置类型</label>
                <div class="col-xs-8">
                    <select class="form-control" name="ConfigType">
                        <option value="0">AppSetting</option>
                        <option value="1">json</option>
                    </select>
                </div>
            </div>*@
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" onclick="save();">添加</button>
                <input type="hidden" name="AppId" value="@_httpContextAccessor.HttpContext.Request.Query["appId"]" />
            </div>
        </div>
    </form>
</script>

<script type="text/x-jquery-tmpl" id="edit_tmpl">
    <form id="edit_form" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">配置名称</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="ConfigKey" value="${configKey}" placeholder="配置名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">配置值</label>
            <div class="col-xs-8">
                <textarea class="form-control" rows="16" placeholder="配置值" name="ConfigValue">${configValue}</textarea>
                @*<input type="text" class="form-control" name="ConfigValue" value="${configValue}" placeholder="配置值">*@
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label">配置类型</label>
                <div class="col-xs-8">
                    <select class="form-control" name="ConfigType">
                        <option value="0" {{if 0 == ConfigType}} selected="selected" {{/if}}>AppSetting</option>
                        <option value="1" {{if 1 == ConfigType}} selected="selected" {{/if}}>ConnectionString</option>
                    </select>
                </div>
            </div>*@
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" onclick="save();">提交</button>
                <input type="hidden" name="Id" value="${id}" />
                <input type="hidden" name="AppId" value="@_httpContextAccessor.HttpContext.Request.Query["appId"]" />
            </div>
        </div>
    </form>
</script>